.scheduler_container{
    width:100%;
    height:600px;
    border:1px solid #aeaeae;
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}